* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

section {
  height: 100vh;
  background: #0f0f0f;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 3.5em;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  font-family: sans-serif;
  color: #fff;
  font-size: 22px;
}
nav ul li a:hover {
  color: #314acf;

  transition: 0.2s;
}

nav {
  height: 10vh;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  display: flex;
  align-items: flex-end;
}
.logo img {
  object-fit: cover;
  width: 19px;
  height: 19px;
}
.logo a {
  text-decoration: none;
}
.logo p,
span,
b {
  font-size: 22px;
  color: #ffffff;
  font-family: cursive;
}
.logo b {
  color: #67b1cf;
}

.button {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 100px;
}
.sub {
  width: 60px;
  height: 40px;

  border: 1px solid #2c2c2c;
  border-radius: 2px;
  background-color: #2c2c2c;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
}
.sub:hover {
  filter: brightness(80%);
}
.trial {
  width: 110px;
  height: 40px;
  border: 1px solid #314acf;
  border-radius: 2px;
  background-color: #314acf;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}
.trial:hover {
  filter: brightness(80%);
}
.flex-container {
  height: 90vh;
}
.animated {
  position: relative;
}
.searching {
  position: relative;
  height: 39px;
  width: 265px;
  background-color: #242731;
  border: 1px solid #242731;
  border-radius: 2px;
  color: #fff;
  font-size: 18px;
  padding: 5px;
}
.icon-search {
  position: absolute;
  right: 10px;
  top: 12px;
  cursor: pointer;
  background-color: #242731;
  border: 1px solid #242731;
}

::placeholder {
  color: #878787;
  font-weight: bold;
  font-size: 17px;
  padding: 0px;
}
.flex-container h1 {
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #ffffff, #ffffff, #ffffff);

  background-repeat: no-repeat;
  background-size: 80%;
  animation: anime 5s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes anime {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

.flex-container h2 {
  padding-top: 30px;
  text-align: center;
  color: #ffffff;
  font-size: 55px;
}
.flex-container h3 {
  text-align: center;
  font-size: x-large;
  color: #ffffff;
  white-space: pre-line;
}
.button-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin: 2em;
}
.trial-2 {
  font-size: 16px;
  width: 130px;
  height: 45px;
  border: 1px solid #314acf;
  border-radius: 2px;
  background-color: #314acf;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}
.trial-2:hover {
  filter: brightness(80%);
}

.sub-2 {
  font-size: 16px;
  width: 100px;
  height: 45px;
  border: 1px solid #2c2c2c;
  border-radius: 2px;
  background-color: #2c2c2c;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
}
.sub-2:hover {
  filter: brightness(80%);
}

.flex-container h4 {
  text-align: center;
  color: #ffffff;
  font-size: 16px;
}

.sub-container {
  display: flex;
  align-items: flex-start;
  padding: 40px;

  justify-content: space-between;
}
.button {
  padding-left: 200px;
}
@media (max-width: 1300px) {
  .burger,
  .toggle-menu {
    display: block;
    position: absolute;
    left: 3%;
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    left: -900px;
    top: 7%;
    background: #ffffff;
    width: 400px;
    height: 80%;
    padding-top: 29px;
  }
  .menu ul {
    display: flex;

    flex-direction: column;
  }
  .menu ul li a {
    color: #0f0f0f;
  }
  .main {
    margin-top: 70px;
  }
  .dropdown li a {
    border: 1px solid #314acf;
    color: #ffffff;
    font-size: 17px;
    background-color: #fff;
  }
  .flex-container h1 {
    margin-left: 150px;
  }
  .animated {
    margin-right: 150px;
  }

  .logo {
    padding-left: 70px;
  }
  .button {
    padding-right: 70px;
  }
}
@media (max-width: 974px) {
  .flex-container h2 {
    font-size: 40px;
  }
  .flex-container h3 {
    font-size: 20px;
  }
}
@media (max-width: 686px) {
  .menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    left: -900px;
    top: 7%;
    background: #fff;
    width: 450px;
    height: 80%;
    padding-top: 20px;
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 50px;
    gap: 20px;
  }
  .sub-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 1em;
  }
  .flex-container h1 {
    font-size: 15px;
    width: 250px;
    text-align: center;
    margin: 10px 10px;
  }

  .animated {
    display: none;
  }

  .send {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo {
    padding-top: 30px;
  }
  .sub {
    width: 50px;
    font-size: 11px;
    height: 28px;
  }
  .trial {
    width: 60px;
    font-size: 11px;
    height: 28px;
  }

  .button {
    gap: 1em;
  }

  .flex-container h2 {
    font-size: 30px;
  }
  .flex-container h3 {
    font-size: 18px;
    width: 300px;
    text-align: center;
  }
  .flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
}
@media (max-width: 550px) {
  .logo {
    padding-top: 30px;
  }
  .menu {
    width: 450px;
    padding-top: 10px;
  }
  .main {
    margin-top: 80px;
  }
  .flex-container {
    gap: 4px;
  }
  .flex-container h1 {
    font-size: 16px;
  }
  .flex-container h2 {
    width: 250px;
    font-size: 21px;
  }
  .flex-container h3 {
    font-size: 16px;
  }
  .sub {
    width: 50px;
    font-size: 11px;
    height: 28px;
  }
  .trial {
    width: 60px;
    font-size: 11px;
    height: 28px;
  }

  .button {
    padding-top: 15px;
    display: flex;
    gap: 1em;
  }
  .sub-2 {
    width: 50px;
    font-size: 8px;
    height: 28px;
  }
  .trial-2 {
    width: 60px;
    font-size: 8px;
    height: 28px;
  }

  .button-2 {
    gap: 10px;
  }
}

@media (max-width: 400px) {
  .trial,
  .sub {
    font-size: 8px;
  }
  .flex-container h1 {
    padding-top: 10px;
  }
  .logo {
    padding-top: 30px;
  }
  .menu {
    width: 300px;
    padding-top: 10px;
  }
  .main {
    margin-top: 20px;
  }
  .burger,
  .toggle-menu {
    top: 20%;
  }

  .main {
    margin-top: 80px;
  }
  .button {
    display: flex;
    gap: 1em;
  }
}
@media (max-width: 300px) {
  .flex-container h2 {
    width: 200px;
    font-size: 18px;
  }
  .flex-container h3 {
    font-size: 16px;
    width: 200px;
  }

  .button {
    display: flex;
    margin: 5px 8px;
    gap: 1em;
  }
  .input-searching {
    width: 150px;
    height: 25px;
  }
  .icon-searching {
    width: 40px;
    height: 25px;
    padding: 15px 8px;
  }
  .menu {
    width: 270px;
  }
  .flex-container {
    gap: 4px;
  }
}
.container-full {
  height: 100vh;
  background-color: #0f0f0f;
}
.text-animation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.text-animation h1 {
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 2.5rem;
  font-family: sans-serif;
}
.roller {
  height: 4.125rem;
  line-height: 4rem;
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.roller #rolltext {
  font-size: 30px;
  color: #723fff;
  position: absolute;
  font-family: sans-serif;
  top: 0;
  animation: slide 10s infinite;
}

@keyframes slide {
  0% {
    margin-top: 0;
  }
  10% {
    margin-top: 0;
  }
  20% {
    margin-top: -3.9rem;
  }
  30% {
    margin-top: -3.9rem;
  }
  40% {
    margin-top: -7.9rem;
  }
  60% {
    margin-top: -7.9rem;
  }

  70% {
    margin-top: -11.9rem;
  }
  80% {
    margin-top: -11.9rem;
  }
  90% {
    margin-top: 0;
  }
  100% {
    margin-top: 0;
  }
}

.cardless {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  width: 100%;
  height: 400px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0%, 0%);

  position: relative;
}
.cardless::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  z-index: 900;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0, 1);
}
.card {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 7;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  animation: opaqTransition 28s cubic-bezier(0, 0, 0, 0.97) infinite;
  transform: translateX(1100px);

  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  object-fit: cover;
}
.card.card-one {
  z-index: 7;
  animation-delay: 1.5s;
  background-image: url(https://images.unsplash.com/photo-1594434533760-02e0f3faaa68?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1569&q=80);
}

.card.card-second {
  z-index: 6;
  background-image: url(https://images.unsplash.com/photo-1514510316197-ac2d9e62319a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80);
  animation-delay: 8.5s;
}

.card.card.card-third {
  z-index: 5;
  background-image: url(https://images.unsplash.com/photo-1619775749507-1f5bee021845?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80);

  animation-delay: 15.5s;
}

.card.card.card-fourth {
  z-index: 4;
  background-image: url(https://images.unsplash.com/photo-1595079835020-30a7ac7c0b02?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80);
  animation-delay: 22.5s;
}

@keyframes opaqTransition {
  3% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(0);
  }
  28% {
    transform: translateX(-1100px);
  }
  100% {
    transform: translateX(-1100px);
  }
}
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4em;
  margin: 10px;
}
.svg {
  width: 110px;
}
.svg-icon {
  width: 75px;
}
@media (max-width: 1300px) {
  .text-animation h1 {
    font-size: 1.9rem;
  }
}
@media (max-width: 945px) {
  .text-animation h1 {
    font-size: 1.9rem;
  }
  .roller #rolltext {
    font-size: 20px;
  }
  .card {
    background-size: 700px;
  }
  .logo-container {
    display: flex;
    gap: 2em;
    margin: 0;
  }
}
@media (max-width: 737px) {
  .card {
    background-size: 500px;
  }
  .text-animation h1 {
    font-size: 1.2rem;
  }
}
@media (max-width: 528px) {
  .logo {
    margin-top: 20px;
  }
  .genre-container h2 {
    text-align: center;
  }

  .text-animation h1 {
    width: 300px;
    margin-top: 40px;
  }
  .roller #rolltext {
    font-size: 15px;
  }
  .logo-container {
    display: flex;
    gap: 1em;
    margin-top: 1px;
  }
  .svg {
    width: 90px;
  }
  .svg-icon {
    width: 60px;
  }

  .card {
    background-size: 400px;
  }
}
@media (max-width: 419px) {
  .text-animation h1 {
    width: 300px;
    margin-top: 40px;
  }
  .roller #rolltext {
    font-size: 15px;
  }
  .logo-container {
    display: flex;
    gap: 0.5em;
    margin-top: 1px;
  }
  .svg {
    width: 80px;
  }
  .svg-icon {
    width: 50px;
  }

  .card {
    background-size: 300px;
    padding-right: 20px;
  }

  .svg .svg-icon {
    padding-bottom: 30px;
  }
  .flex-container h1 {
    background-color: #723fff;
    font-size: 10px;
  }
  .logo {
    margin-top: 20px;
  }
  .genre-container h2 {
    margin-top: 80px;
    text-align: center;
  }
}

.genre-container {
  background-color: #0f0f0f;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.genre-container h2 {
  color: #ffffff;
  font-size: 50px;
  margin-top: 50px;
}

.genre-container p {
  color: #878787;
  white-space: pre-wrap;
  text-align: center;
  font-size: 24px;
}
.genre-photo a {
  display: flex;
  gap: 2em;
  text-decoration: none;
}
.name-genre {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}
.name-genre img {
  border-radius: 7px;
  object-fit: cover;
  width: 200px;
  height: 200px;
}
.name-genre:hover {
  filter: brightness(68%);
}

.named {
  font-family: normal;
  font-size: 20px;
}

.named:hover {
  color: #723fff;
  transform: scale(1.2);
}
@media (max-width: 1300px) {
  .name-genre img {
    width: 150px;
    height: 150px;
  }
  .genre-photo a {
    display: flex;
    gap: 1em;
  }
}
@media (max-width: 945px) {
  .genre-photo a {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .genre-container h2 {
    font-size: 55px;
    margin-top: 0px;
  }
  .genre-container p {
    text-align: center;
    width: 400px;
    white-space: normal;
    margin: 20px;
  }
  .name-genre img {
    width: 350px;
    height: 350px;
  }
}
@media (max-width: 737px) {
  .genre-container h2 {
    font-size: 40px;
  }
  .name-genre img {
    width: 250px;
    height: 250px;
  }
}
@media (max-width: 528px) {
  .name-genre img {
    width: 150px;
    height: 150px;
  }
}
@media (max-width: 419px) {
  .genre-container h2 {
    font-size: 30px;
  }
  .genre-container p {
    font-size: 20px;
    width: 300px;
  }
  .name-genre img {
    width: 120px;
    height: 120px;
  }
  .genre-photo a {
    display: grid;
    gap: 0em;
  }
}
.grid-container {
  background-color: #0f0f0f;

  display: grid;
  justify-items: center;
}
.grid-container h3 {
  margin-top: 100px;
  color: #ffffff;
  font-size: 50px;
}
.grid-container p {
  white-space: pre-line;
  text-align: center;
  color: #878787;
  font-size: x-large;
}

.grid-images {
  position: relative;

  margin-top: 20px;
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(3, 1fr);
}

.image-sounded {
  object-fit: cover;
  filter: brightness(75%);
  width: 370px;
  height: 270px;
}
.position-1 {
  display: flex;
  gap: 0.5em;

  flex-direction: column;
  position: absolute;
  left: 2%;
  bottom: 60%;
}
.arrow {
  display: flex;
  align-items: center;

  cursor: pointer;
}
.arrow h6 {
  position: absolute;
  margin-left: 7px;

  left: 100%;

  letter-spacing: 1px;

  opacity: 0;
  transition: all 0.4s;
}

.arrow p:hover + h6 {
  text-transform: uppercase;

  opacity: 1;
  font-size: 30px;
  color: #ffffff;
}
.arrow p:hover {
  transition: 0.4s;
  border-bottom: 1px solid #ffffff;
}

.position-2 {
  display: flex;
  gap: 0.5em;
  flex-direction: column;
  position: absolute;
  left: 36%;
  bottom: 60%;
}
.position-3 {
  display: flex;
  gap: 0.5em;

  flex-direction: column;

  position: absolute;
  left: 70%;
  bottom: 60%;
}

.position-4 {
  display: flex;
  gap: 0.5em;

  flex-direction: column;
  position: absolute;
  left: 2%;
  bottom: 5%;
}
.position-5 {
  display: flex;
  gap: 0.5em;

  flex-direction: column;
  position: absolute;
  left: 36%;
  bottom: 5%;
}
.position-6 {
  display: flex;
  gap: 0.5em;

  flex-direction: column;
  position: absolute;
  left: 70%;
  bottom: 5%;
}
.grid-images b {
  font-size: xx-large;
  font-family: sans-serif;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}

.grid-images p {
  font-size: 20px;
  font-family: sans-serif;
  color: #ffffff;
  font-weight: bold;
}
@media (max-width: 1300px) {
  .image-sounded {
    object-fit: cover;
    filter: brightness(75%);
    width: 280px;
    height: 260px;
  }
}
@media (max-width: 1038px) {
  .grid-container p {
    width: 380px;
  }
  .grid-images {
    position: relative;

    margin-top: 20px;
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(1, 1fr);
  }

  .position-1 {
    display: flex;
    gap: 0.5em;
    align-items: center;
    flex-direction: column;

    position: absolute;
    right: 50%;
    top: 10%;
  }
  .position-2 {
    display: flex;
    gap: 0.5em;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 1%;
    top: 27%;
  }
  .position-3 {
    display: flex;
    gap: 0.5em;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 1%;
    top: 42%;
  }
  .position-4 {
    display: flex;
    gap: 0.5em;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 1%;
    top: 60%;
  }
  .position-5 {
    display: flex;
    gap: 0.5em;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 1%;
    top: 76%;
  }
  .position-6 {
    display: flex;
    gap: 0.5em;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 1%;
    top: 92%;
  }

  .image-sounded {
    object-fit: cover;
    filter: brightness(75%);
    width: 790px;
    height: 260px;
  }
}
@media (max-width: 800px) {
  .image-sounded {
    object-fit: cover;
    filter: brightness(75%);
    width: 590px;
    height: 260px;
  }
}
@media (max-width: 620px) {
  .image-sounded {
    object-fit: cover;
    filter: brightness(75%);
    width: 490px;
    height: 260px;
  }
  .position-1 {
    display: flex;
    gap: 0.5em;
    align-items: center;
    flex-direction: column;

    position: absolute;
    right: 28%;
    top: 10%;
  }
}
@media (max-width: 526px) {
  .grid-container h3 {
    font-size: 35px;
    text-align: center;
  }
  .grid-container p {
    font-size: large;
    white-space: normal;
    width: 200px;
  }
  .image-sounded {
    object-fit: cover;
    filter: brightness(75%);
    width: 290px;
    height: 260px;
  }
  .position-2 {
    display: flex;
    gap: 0.5em;
    align-items: center;
    flex-direction: column;

    position: absolute;
    right: 20%;
    top: 27%;
  }
  .position-3 {
    display: flex;
    gap: 0.5em;
    align-items: center;
    flex-direction: column;

    position: absolute;
    right: 20%;
    top: 44%;
  }
  .position-4 {
    display: flex;
    gap: 0.5em;
    align-items: center;
    flex-direction: column;

    position: absolute;
    right: 5%;
    top: 59%;
  }
  .position-5 {
    display: flex;
    gap: 0.5em;
    align-items: center;
    flex-direction: column;

    position: absolute;
    right: 10%;
    top: 78%;
  }
  .position-6 {
    display: flex;
    gap: 0.5em;
    align-items: center;
    flex-direction: column;

    position: absolute;
    right: 20%;
    top: 94%;
  }
  .grid-images b {
    font-size: 22px;
  }
  .grid-images p {
    font-size: 16px;
  }
}

@media (max-width: 326px) {
  .grid-container h3 {
    font-size: 25px;
    text-align: center;
  }
  .grid-container p {
    width: 180px;
  }

  .image-sounded {
    object-fit: cover;
    filter: brightness(75%);
    width: 200px;
    height: 220px;
  }
  .grid-images b {
    font-size: 20px;
  }
  .grid-images p {
    font-size: 14px;
  }
}
.service-container {
  background-color: #0f0f0f;
  display: flex;
  gap: em;
  align-items: center;
  justify-content: center;
}
.read-container {
  display: flex;
  flex-direction: column;
  margin: 35px;
}
.listening {
  width: 450px;
  height: 580px;
  margin-top: 150px;
  object-fit: cover;
}
.head-Name {
  color: #ffffff;
  font-size: 42px;
  margin-top: 150px;
}
.head-name {
  color: #ffffff;
  font-size: 42px;
}
.explain {
  color: #878787;
  white-space: pre-line;
  font-size: large;
}
.trial-3 {
  width: 130px;
  height: 40px;
  background-color: #314acf;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  margin-top: 15px;
}
.pricing {
  width: 100px;
  height: 40px;
  background-color: #2c2c2c;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  margin-top: 15px;
}

@media (max-width: 1038px) {
  .service-container {
    background-color: #0f0f0f;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
  }
  .listening {
    width: 550px;
    height: 580px;
    margin-top: 150px;
  }
  .head-Name {
    margin-top: 50px;
  }
}
@media (max-width: 570px) {
  .listening {
    width: 335px;
    height: 400px;
    margin-top: 150px;
  }
  .explain {
    color: #878787;
    width: 300px;
    font-size: large;
    white-space: normal;
  }

  .head-Name {
    margin-top: 20px;
  }
}
@media (max-width: 370px) {
  .listening {
    width: 255px;
    height: 350px;
    margin-top: 150px;
  }
  .explain {
    color: #878787;
    width: 200px;
    font-size: large;
    white-space: normal;
  }
  .read-container {
    padding-left: 10px;
  }
}
.head-Name {
  font-size: 28px;
}
.head-name {
  font-size: 27px;
}
.subscription-container {
  background-color: #0f0f0f;

  display: flex;
  flex-direction: column;
}
.subscription-container h4 {
  color: #ffffff;
  font-family: sans-serif;
  font-size: 50px;
  padding: 0px 50px;
  margin-top: 150px;
}

.payment-boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.pay-container {
  background-color: #202020;
  height: 500px;
  width: 390px;
  display: flex;
  padding: 40px 25px;
  flex-direction: column;
  margin-top: 30px;
}
.pay-container h5 {
  color: #ffffff;
  font-size: large;
  font-family: sans-serif;
}
.pay-container p {
  font-family: sans-serif;
  color: #ffffff;
  font-size: xx-large;
  margin-top: 20px;
}
.pay-container span {
  color: #ffffff;
  font-family: normal;
  margin-top: 10px;
  font-size: 18px;
}

.check-container {
  display: flex;
  margin-top: 20px;
  align-items: center;
  gap: 0.5em;
}

.check-container div {
  color: #ffffff;
  font-size: 17px;
  font-family: sans-serif;
}
.pay-container b {
  color: #878787;
  font-size: 15px;
  font-family: sans-serif;
  text-align: center;
  margin-top: 30px;
}

.commercial {
  margin-top: 10px;

  color: #ffffff;
}
.personal {
  color: #ffffff;
  margin-top: 20px;
}
.submitt {
  margin-top: 39px;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.submit {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  cursor: pointer;
}
.trial-4 {
  background-color: #314acf;
  font-size: 19px;
  height: 40px;
  width: 340px;
  border: 1px solid #314acf;
  color: #ffffff;
  cursor: pointer;
}
.sub-3 {
  background-color: #2c2c2c;
  height: 40px;
  color: #ffffff;
  border: 1px solid #2c2c2c;
  width: 340px;
  cursor: pointer;
}
.trial-4:hover {
  filter: brightness(85%);
}

.sub-3:hover {
  filter: brightness(90%);
}
.submit-1 {
  cursor: pointer;
  margin-top: 68px;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.triall-4 {
  background-color: #314acf;
  font-size: 19px;
  height: 40px;
  width: 340px;
  border: 1px solid #314acf;
  color: #ffffff;
  cursor: pointer;
}

.subb-3 {
  background-color: #2c2c2c;
  height: 40px;
  color: #ffffff;
  border: 1px solid #2c2c2c;
  width: 340px;
  cursor: pointer;
}
.triall-4:hover {
  filter: brightness(85%);
}
.subb-3:hover {
  filter: brightness(90%);
}

@media (max-width: 1300px) {
  .pay-container {
    background-color: #202020;
    height: 550px;
    width: 300px;
  }
  .trial-4 {
    background-color: #314acf;
    height: 40px;
    width: 250px;
    border: 1px solid #314acf;
    color: #ffffff;
    cursor: pointer;
  }
  .sub-3 {
    background-color: #2c2c2c;
    height: 40px;
    color: #ffffff;
    border: 1px solid #2c2c2c;
    width: 250px;
    cursor: pointer;
  }
  .subb-3 {
    background-color: #2c2c2c;
    height: 40px;
    color: #ffffff;
    border: 1px solid #2c2c2c;
    width: 250px;
    cursor: pointer;
  }
  .triall-4 {
    background-color: #314acf;
    height: 40px;
    color: #ffffff;
    border: 1px solid #2c2c2c;
    width: 250px;
    cursor: pointer;
  }
  .submitt {
    margin-top: 20px;
  }
}
@media (max-width: 990px) {
  .payment-boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 0em;
  }
  .subscription-container h4 {
    text-align: center;
    font-size: xx-large;
  }
}
@media (max-width: 664px) {
  .payment-boxes {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 0em;
  }
  .pay-container {
    background-color: #202020;
    height: 580px;
    width: 380px;
  }

  .pay-container h5 {
    color: #ffffff;
    font-size: large;
    font-family: sans-serif;
  }
  .pay-container p {
    font-family: sans-serif;
    color: #ffffff;
    font-size: x-large;
    margin-top: 15px;
  }
  .pay-container span {
    color: #ffffff;
    font-family: normal;
    margin-top: 7px;
    font-size: 16px;
  }
  .check-container div {
    color: #ffffff;
    font-size: 14px;
    font-family: sans-serif;
  }
  .pay-container b {
    margin-top: 15px;
  }
  .submit-1 {
    cursor: pointer;
    margin: 40px 35px;
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  .submit {
    cursor: pointer;

    margin: 40px 35px;
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  .submitt {
    cursor: pointer;
    margin: 40px 35px;
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
}
@media (max-width: 430px) {
  .pay-container {
    background-color: #202020;
    height: 590px;
    width: 300px;
  }
  .subscription-container h4 {
    text-align: center;
    font-size: x-large;
  }
  .trial-4 {
    background-color: #314acf;
    height: 37px;
    width: 200px;
    border: 1px solid #314acf;
    color: #ffffff;
    cursor: pointer;
  }
  .sub-3 {
    background-color: #2c2c2c;
    height: 37px;
    width: 200px;
    border: 1px solid #2c2c2c;
    color: #ffffff;
    cursor: pointer;
  }
  .triall-4 {
    background-color: #314acf;
    height: 37px;
    width: 200px;
    border: 1px solid #314acf;
    color: #ffffff;
    cursor: pointer;
  }
  .subb-3 {
    background-color: #2c2c2c;
    height: 37px;
    width: 200px;
    border: 1px solid #2c2c2c;
    color: #ffffff;
    cursor: pointer;
  }
  .submit-1 {
    margin-top: 40px;
  }

  .pay-container h5 {
    color: #ffffff;
    font-size: large;
    font-family: sans-serif;
  }
  .pay-container p {
    font-family: sans-serif;
    color: #ffffff;
    font-size: x-large;
    margin-top: 15px;
  }
  .pay-container span {
    color: #ffffff;
    font-family: normal;
    margin-top: 7px;
    font-size: 16px;
  }
  .check-container div {
    color: #ffffff;
    font-size: 14px;
    font-family: sans-serif;
  }
  .pay-container b {
    margin-top: 15px;
  }

  .submit-1 {
    cursor: pointer;
    margin: 25px 15px;

    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  .submit {
    cursor: pointer;
    margin: 25px 15px;

    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  .submitt {
    cursor: pointer;
    margin: 25px 15px;
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
}

.autoplay-container {
  background-color: #0f0f0f;
  display: flex;
  gap: 2em;
  flex-direction: column;

  align-items: center;
}
.autoplay-header {
  color: #fff;
  font-size: 40px;
  margin-top: 120px;
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-360px * 6));
    transform: translateX(calc(-360px * 6));
  }
}
@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-360px * 6));
    transform: translateX(calc(-360px * 6));
  }
}

.slider-wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.slider-wrapper .slide-track {
  -webkit-animation: scroll 36s linear infinite;
  animation: scroll 36s linear infinite;
  display: flex;
  width: calc(360px * 12);
}
.slide-track:hover {
  animation-play-state: paused;
  cursor: pointer;
}
.slider-wrapper .slide img {
  height: 380px;
  width: 340px;
  object-fit: cover;
  margin-left: 20px;
  border-radius: 2px;
}
.slide {
  position: relative;
  filter: brightness(88%);
}

.absolute-effect {
  font-family: sans-serif;
  color: #fff;
  font-weight: bold;
  font-size: 29px;
  position: absolute;
  left: 12%;
  bottom: 19%;
}
.absolute-effect2 {
  width: 140px;
  height: 30px;
  background-color: #2c2c2c;
  border: 1px solid #2c2c2c;
  color: #fff;
  font-weight: bolder;
  font-size: 15px;
  cursor: pointer;
  position: absolute;
  bottom: 10%;
  left: 39%;
}

.footer-container {
  background-color: #0f0f0f;
  display: flex;
  flex-direction: column;
}

.form-language select {
  width: 300px;
  height: 50px;
  border-radius: 2px;
  background-color: #2c2c2c;
  color: #fff;
  font-size: 18px;
  margin-top: 50px;
  cursor: pointer;
}
.form-language select:hover {
  filter: brightness(85%);
}
.form-language option {
  color: #fff;
  cursor: pointer;
}

.column-footer1 {
  display: flex;
  margin-top: 120px;
  justify-content: space-between;
  padding: 80px;
}
.list-flex {
  display: flex;
  align-items: baseline;
  gap: 3.5em;
}
.list-offers p {
  color: #878787;
  font-size: 18px;
  font-family: sans-serif;
  text-align: start;
  margin-right: 5px;
}
.list-offers h6 {
  font-family: sans-serif;
  color: #fff;
  font-size: 17px;
  margin-top: 19px;
  cursor: pointer;
}
.list-offers h6:hover {
  text-decoration: underline;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px;
}

.logo h5 {
  color: #878787;
  font-family: sans-serif;

  font-size: 20px;
  margin-right: 10px;
}
.social-logo {
  display: flex;
  align-items: center;
  gap: 3em;
  cursor: pointer;
}
.social-logo i:hover {
  filter: brightness(65%);
}
.login-container {
  display: flex;

  height: 100vh;
}
.login-image {
  width: 60%;
}
.logo {
  padding: 10px;
}

.create-div {
  background-color: #0f0f0f;
  width: 40%;

  object-fit: cover;
}
.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
.account-creater {
  color: #fff;
  font-size: 40px;
  margin-top: 80px;
  margin-bottom: 20px;
}
.continue-with {
  border-radius: 2px;
  width: 396px;
  height: 47px;
  background-color: #202020;
  border: 1px solid #202020;
  color: #fff;
  font-size: 17px;
  font-family: sans-serif;
  cursor: pointer;
}
.continue-with:hover {
  background-color: #2c2c2c;
}

.continue-with i {
  margin-right: 15px;
  font-size: 20px;
}
.or {
  color: #878787;
  border-left: 0px solid #2c2c2c;
  border-right: 0px solid #2c2c2c;
  border-width: 160px;
  line-height: 2px;
  padding-left: 9px;
  padding-right: 9px;
  margin: 10px;
  font-family: sans-serif;
}
.register-input {
  display: flex;
  flex-direction: column;
  gap: 0.1em;
}

.register-input input {
  width: 396px;
  height: 55px;
  margin-top: 15px;
  background-color: #202020;
  border: 1px solid #202020;
  border-radius: 2px;
  padding: 5px 15px;

  font-size: 18px;
  color: #fff;
}
.register-input input:hover {
  background-color: #2c2c2c;
}

.register-input button {
  width: 396px;
  height: 47px;
  background-color: #fff;
  margin-top: 15px;
  color: #0f0f0f;
  font-weight: bold;
  font-size: 17px;
  cursor: pointer;
}
.register-input button:hover {
  filter: brightness(80%);
}
#validepass {
  margin-top: 10px;
  color: red;
  text-align: center;
  font-size: 21px;
  font-weight: bolder;
  font-family: sans-serif;
}
#validemail {
  margin-top: 10px;
  color: red;
  text-align: center;
  font-size: 21px;
  font-weight: bolder;
  font-family: sans-serif;
}
.storytteler-container {
  background-color: #0f0f0f;
}
#svg-logo {
  width: 40px;
  margin-left: 20px;
  margin-top: 5px;
}

.storytteler-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.7em;
}
.paybox-limited {
  display: flex;
  align-items: center;
  gap: 1.5em;
}
.payle-box {
  background-color: #2c2c2c;
  margin-top: 5px;
  width: 255px;
  height: 40px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}
#pay-container {
  margin-bottom: 10px;
  height: 450px;
}
.h1-story {
  color: #fff;
  font-size: 49px;
  font-family: sans-serif;
}
.p-trial {
  color: #fff;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 16px;
  margin-top: 5px;
}
.yearly,
.monthly {
  border: none;
  color: #fff;
  font-weight: bolder;
  font-family: sans-serif;
  cursor: pointer;
  font-size: 21px;
  border-radius: 2px;
}
.secure-header {
  display: flex;
  align-items: center;
  gap: 0.7em;
}
.secure-svg {
  color: #fff;
  font-size: 21px;
}
.h5-secure {
  color: #878787;
  font-weight: bold;

  font-size: 17px;
}
.paycards {
  display: flex;
  align-items: center;
  gap: 2.5em;
  margin-top: 10px;
}
.paycard-svg {
  color: #878787;
  font-weight: bolder;
  font-size: 47px;
}
.bago{
  height: 100vh;
  background-color: #0f0f0f;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
}
.sango{

  width: 500px;
  height: 500px;
}
.bago header{
  color: #fff;
  font-size: 40px;
}
.bago button{
  border: none;
  background-color: #723fff;
  color:#fff;
  font-size: 18px;
  height: 32px;
  width: 140px;

}